<div class="container">
<h1><u>Editando Departamento</u></h1>

<%= render "form", apartment: @apartment %>

<br>

<div>
  <%= link_to "Ver Departamento", @apartment, class:"btn btn-dark" %> |
  <%= link_to "Volver al Index de Departamentos", apartments_path, class:"btn btn-dark" %>
</div>
</div>